# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtualenv
.env
.venv/
env/
venv/
ENV/

# VSCode
.vscode/
*.code-workspace

# Logs
*.log

# Migrations cache
migrations/**/__pycache__/
migrations/*.pyc

# System files
.DS_Store
Thumbs.db

# OneDrive sync files
*.tmp
*.lnk
*.ini
*.db
~$*
